body{
    background-color:#359381; 
    
}
.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; /* Images will be in the background */
}
.parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1; /* Lowered z-index to keep images behind the container */
    overflow: hidden;
}
header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding:30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    z-index:100;
}
.logo{
    font-size:2em;
    color:#359381;
    margin-right: 270px;
    pointer-events:none;
}
.navigation a{
    text-decoration: none;
    font-size:30px;
    color:#359381;
    padding:20 40px;
    border-radius:20px;
    margin:40px;
    font-weight:900;

}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 11.5%;
    z-index: 10; /* Increased z-index to place above parallax images */
    position: relative; /* Set position to relative */
}

.signup-box {
    background-color: rgba(255, 255, 255, 0.8); /* White with 80% opacity */
    padding: 20px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow:0 4px 8px rgba(255, 0, 0, 0.6), 0 6px 20px rgba(0,255,200,0.5);
}

.signup-box form {
   
}
.s{
    width:50%;
    padding:10px;
    margin:15px;
    border-radius:10px;
    box-shadow:0 4px 8px rgba(255, 0, 0, 0.6), 0 6px 20px rgba(0,255,200,0.5);
    display:flex;
    justify-content:center;
    align-items:center;
}

input{
    width:90%;
    padding:10px;
    margin:15px;
    border-radius:10px;
    box-shadow:0 4px 8px rgba(255, 0, 0, 0.6), 0 6px 20px rgba(0,255,200,0.5);
}
.outer{
    display:flex;
    align-items:center;
    justify-content:center;
}
a,button {
    
    color: #000;
    border:none;
    font-size:20px;
    font-weight:bold;
    text-decoration: none;
    padding: 10px;
}
